
body { 
    background-image: url(http://1.bp.blogspot.com/-VI1RFj6JJ9o/T1ksT6emVSI/AAAAAAAAGJo/g5FKzpWbIfU/s1600/Monster%2BEnergy%2Bd05.jpg); }

.jumbotron {
background-image : url('');
height : 500px;
}